version: 2
jobs:
  build:
    working_directory: ~/build
    docker:
      - image: circleci/node:4.8.2
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: test
          command: echo "Test"
